<form [formGroup]="teamForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Turma</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Docente responsável</mat-label>
            <input
              matInput
              placeholder="Ex.: Guilherme Siquinelli"
              formControlName="name"
            />
            <mat-error>Obrigatório</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Turma</mat-label>
            <input
              matInput
              placeholder="Ex.: ESOFT7S-N-A"
              formControlName="team"
            />
            <mat-error>Obrigatório</mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <mat-label>N° de alunos</mat-label>
            <input
              matInput
              type="number"
              placeholder="Ex.: 30"
              formControlName="people"
            />
            <mat-error>Obrigatório</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-radio-group formControlName="goal">
            <mat-radio-button value="Desenvolvimento de Software">
              Desenvolvimento de Software
            </mat-radio-button>
            <mat-radio-button value="Pesquisa">Pesquisa</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="flex row-reverse space-between">
      <button mat-raised-button color="primary" type="submit">Salvar</button>
      <button mat-button mat-dialog-close type="button">Fechar</button>
    </mat-card-actions>
  </mat-card>
</form>
