<header>
  <mat-form-field>
    <mat-label>Reservas</mat-label>
    <mat-select [formControl]="schedulesControl" multiple>
      <mat-select-trigger>
        {{schedulesControl.value?.[0]?.byweekday! | weekday }}
        <span
          *ngIf="(schedulesControl.value?.length || 0) > 1"
          class="example-additional-selection"
        >
          (+{{ (schedulesControl.value?.length || 0) - 1 }}
          {{
            schedulesControl.value?.length === 2 ? 'outro dia' : 'outros dias'
          }})
        </span>
      </mat-select-trigger>
      <mat-option
        *ngFor="let schedule of scheduleStore.data$ | async"
        [value]="schedule"
      >
        <span [ngPlural]="schedule.interval">
          <ng-template ngPluralCase="=1">Toda</ng-template>
          <ng-template ngPluralCase="few">
            A cada {{ schedule.interval }}
          </ng-template>
        </span>
        <strong>{{ schedule.byweekday | weekday }}(s)</strong>
        <strong>{{ schedule.time.start }}</strong> até
        <strong>{{ schedule.time.end }}</strong>
      </mat-option>
    </mat-select>
  </mat-form-field>
</header>

<mat-card>
  <table mat-table [dataSource]="dataSource$">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.date | date : 'shortDate' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>Horário</th>
      <td mat-cell *matCellDef="let element">{{ element.time }}</td>
    </ng-container>

    <ng-container matColumnDef="team">
      <th mat-header-cell *matHeaderCellDef>Turma</th>
      <td mat-cell *matCellDef="let element">{{ element.team }}</td>
    </ng-container>

    <ng-container matColumnDef="people">
      <th mat-header-cell *matHeaderCellDef>N° de alunos</th>
      <td mat-cell *matCellDef="let element">{{ element.amountOfPeople }}</td>
    </ng-container>

    <ng-container matColumnDef="goal">
      <th mat-header-cell *matHeaderCellDef>Finalidade</th>
      <td mat-cell *matCellDef="let element">{{ element.goal }}</td>
    </ng-container>

    <!-- <ng-container matColumnDef="remove">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="removeRow.emit(element.id)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-card>
