<header>
  <mat-form-field>
    <mat-label>Reservas</mat-label>
    <mat-select [formControl]="schedulesControl" multiple>
      <mat-select-trigger>
        {{schedulesControl.value?.[0]?.byweekday! | weekday }}
        <span
          *ngIf="(schedulesControl.value?.length || 0) > 1"
          class="example-additional-selection"
        >
          (+{{ (schedulesControl.value?.length || 0) - 1 }}
          {{
            schedulesControl.value?.length === 2 ? 'outro dia' : 'outros dias'
          }})
        </span>
      </mat-select-trigger>
      <mat-option
        *ngFor="let schedule of scheduleService.data$ | async"
        [value]="schedule"
      >
        <span [ngPlural]="schedule.interval">
          <ng-template ngPluralCase="=1">Toda</ng-template>
          <ng-template ngPluralCase="few">
            A cada {{ schedule.interval }}
          </ng-template>
        </span>
        <strong>{{ schedule.byweekday | weekday }}(s)</strong>
        <strong>{{ schedule.time.start }}</strong> até
        <strong>{{ schedule.time.end }}</strong>
      </mat-option>
    </mat-select>
  </mat-form-field>
</header>

<mat-card>
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-card>

<mat-paginator
  #paginator
  [length]="(dataSource.data$ | async)?.length"
  [pageIndex]="0"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 20]"
  aria-label="Select page"
>
</mat-paginator>
