<form [formGroup]="scheduleForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Solicitação de reserva</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <mat-form-field class="col">
          <mat-label>Turma</mat-label>
          <mat-select formControlName="team">
            <mat-option
              *ngFor="let team of teamStore.data$ | async"
              [value]="team"
            >
              {{ team.team }} ({{ team.name }})
            </mat-option>
          </mat-select>
          <mat-error>Selecione a turma</mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col">
          <mat-label>Dia da semana</mat-label>
          <mat-select formControlName="byweekday">
            <mat-option *ngFor="let day of daysOfWeek" [value]="day">
              {{ day | weekday }}
            </mat-option>
          </mat-select>
          <mat-icon matPrefix class="mat-muted">event</mat-icon>
          <mat-error>Selecione o dia da semana</mat-error>
        </mat-form-field>

        <mat-form-field class="col">
          <mat-label>Frequência</mat-label>
          <mat-select formControlName="interval">
            <mat-option [value]="1"> Todas as semanas </mat-option>
            <mat-option [value]="2"> A cada 2 semanas </mat-option>
          </mat-select>
          <mat-icon matPrefix class="mat-muted">date_range</mat-icon>
          <mat-error>Selecione o dia da semana</mat-error>
        </mat-form-field>
      </div>

      <div class="row" formGroupName="time">
        <mat-form-field class="col">
          <mat-label>Horário inicial</mat-label>
          <mat-select formControlName="start" required>
            <mat-option *ngFor="let time of timeStart$ | async" [value]="time">
              {{ time }}
            </mat-option>
          </mat-select>
          <mat-icon matPrefix class="mat-muted">schedule</mat-icon>
          <mat-error>Horário inicial obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field class="col">
          <mat-label>Horário final</mat-label>
          <mat-select formControlName="end" required>
            <mat-option *ngFor="let time of timeEnd$ | async" [value]="time">
              {{ time }}
            </mat-option>
          </mat-select>
          <mat-icon matPrefix class="mat-muted">schedule</mat-icon>
          <mat-error>Horário final obrigatório</mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions class="flex row-reverse space-between">
      <button mat-raised-button color="primary" type="submit">Salvar</button>
      <button mat-button mat-dialog-close type="button">Fechar</button>
    </mat-card-actions>
  </mat-card>
</form>
