$yellow: (
  50: #fffce7,
  100: #fff9c3,
  200: #fff59c,
  300: #fef074,
  400: #feed56,
  500: #feea38,
  600: #fee732,
  700: #fee42b,
  800: #fee124,
  900: #fddb17,
  A100: #ffffff,
  A200: #fffefb,
  A400: #fff6c8,
  A700: #fff2ae,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$yellow-dark: (
  50: #fcfae5,
  100: #f9f3be,
  200: #f5eb93,
  300: #f0e268,
  400: #eddc47,
  500: #ead627,
  600: #e7d123,
  700: #e4cc1d,
  800: #e1c617,
  900: #dbbc0e,
  A100: #ffffff,
  A200: #fff8d4,
  A400: #ffefa1,
  A700: #ffeb87,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$blue: (
  50: #e0edff,
  100: #b3d3ff,
  200: #80b6ff,
  300: #4d99ff,
  400: #2683ff,
  500: #006dff,
  600: #0065ff,
  700: #005aff,
  800: #0050ff,
  900: #003eff,
  A100: #ffffff,
  A200: #f2f5ff,
  A400: #bfcbff,
  A700: #a6b6ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$navy: (
  50: #e0ebf1,
  100: #b3ccdb,
  200: #80aac4,
  300: #4d88ac,
  400: #266f9a,
  500: #005588,
  600: #004e80,
  700: #004475,
  800: #003b6b,
  900: #002a58,
  A100: #8ab7ff,
  A200: #5798ff,
  A400: #2479ff,
  A700: #0a69ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
