// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './scss/palette' as app;

// @import url('https://fonts.googleapis.com/css2?family=Braah+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$getlab-primary: mat.define-palette(app.$navy);
$getlab-accent: mat.define-palette(app.$navy);
$getlab-accent-dark: mat.define-palette(app.$yellow);

// The warn palette is optional (defaults to red).
$getlab-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$getlab-theme: mat.define-light-theme(
  (
    color: (
      primary: $getlab-primary,
      accent: $getlab-accent,
      warn: $getlab-warn,
    ),
    typography: mat.define-typography-config(),
  )
);

$getlab-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $getlab-primary,
      accent: $getlab-accent,
      warn: $getlab-warn,
    ),
    typography: mat.define-typography-config(),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using
mat.$theme-ignore-duplication-warnings: true;
@include mat.all-component-themes($getlab-theme);
body.dark-theme {
  @include mat.all-component-colors($getlab-dark-theme);
}
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Schoolbell', cursive;
  // font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body {
  * {
    font-family: 'Schoolbell', cursive;
  }
  .mat-toolbar,
  .mdc-list-item__primary-text,
  .mat-mdc-card-title {
    font-family: 'Schoolbell', cursive;
    font-size: 160%;
  }
}

.mat-mdc-card {
  overflow: hidden;
}

.mat-mdc-card-header .mat-mdc-card-header-text {
  color: var(--mdc-dialog-subhead-color);
}

.mdc-list-item.active::before {
  background-color: var(--mdc-list-list-item-focus-state-layer-color);
  opacity: var(--mdc-list-list-item-focus-state-layer-opacity);
}

.mat-mdc-card-header {
  margin-bottom: 16px;
}

.mat-muted {
  opacity: 0.5;
}

span,
strong {
  display: inline-flex;
  padding: 2px;
}

.full-width,
.mat-mdc-form-field {
  width: 100%;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 8px;
  column-gap: 20px;
}

.col {
  flex: 1;
}

.col:last-child {
  margin-right: 0;
}

.flex {
  display: flex;

  &.row-reverse {
    flex-direction: row-reverse;
  }
  &.space-between {
    justify-content: space-between;
  }
}
