@use '@angular/material' as mat;
@use './scss/palette' as app;

@include mat.core();

$getlab-primary: mat.define-palette(app.$navy);
$getlab-accent: mat.define-palette(mat.$amber-palette);

// The warn palette is optional (defaults to red).
$getlab-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$getlab-theme: mat.define-light-theme(
  (
    color: (
      primary: $getlab-primary,
      accent: $getlab-accent,
      warn: $getlab-warn,
    ),
    typography: mat.define-typography-config(),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using
@include mat.all-component-themes($getlab-theme);
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  // font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body {
  * {
    font-family: 'Varela Round', sans-serif;
  }
  .mat-toolbar,
  .mdc-list-item__primary-text,
  .mat-mdc-button:not(.mdc-fab) .mdc-button__label,
  .mat-mdc-card-title {
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
    font-size: 120%;
    line-height: 100%;
  }
}

.mat-mdc-card {
  overflow: hidden;
}

.mat-mdc-card-header .mat-mdc-card-header-text {
  color: var(--mdc-dialog-subhead-color);
}

.mdc-list-item.active::before {
  background-color: var(--mdc-list-list-item-focus-state-layer-color);
  opacity: var(--mdc-list-list-item-focus-state-layer-opacity);
}

.mat-mdc-card-header {
  margin-bottom: 16px;
}

.mat-muted {
  opacity: 0.5;
}

span,
strong {
  display: inline-flex;
  padding: 2px;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 8px;
  column-gap: 20px;
}

.col {
  flex: 1;
}

.col:last-child {
  margin-right: 0;
}

.flex {
  display: flex;

  &.row-reverse {
    flex-direction: row-reverse;
  }
  &.space-between {
    justify-content: space-between;
  }
}
